@font-face {
    font-family: "VOGUE Bold";
    src: url("./fonts/VOGUEB.TTF");
}

@font-face {
    font-family: "VOGUE Normal";
    src: url("./fonts/VOGUEN.TTF");
}

@font-face {
    font-family: "VOGUEPL Bold";
    src: url("./fonts/152.TTF");
}

@font-face {
    font-family: "VOGUEPL Normal";
    src: url("./fonts/151.TTF");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.navbar-white {
    background-color: #fff;
    border-color: transparent;
    margin-bottom: 0;
    height: 50px;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 50px;
}

.menu > li > a {
    color: #000000;
    font-size: 18px;
    padding: 0 13px;
    font-family: "VOGUE Normal";
    text-decoration: none;
    text-transform: uppercase;
}

.menu > li > a > img {
    margin-top: 8px;
}

.navbar-header .button {
    border-color: transparent;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
}


.icon-menu a {
    padding: 0 !important;
}

.icon-menu > a:hover {
    text-decoration: none;
}

.icon-menu > a > .icon {
    background-color: gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.icon-menu > a .icon i {
    color: #fff;
}

@media (max-width: 1200px) {
    .menu > li > a {
        font-size: 14px;
    }
    .icon-menu > a > .icon {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 990px) {
    .menu > li > a {
        padding: 0 5px;
    }
}

@media (max-width: 767px) {
    .navbar-white {
        background-color: transparent;
    }
    .navbar-white .button:hover, .navbar-white .button:active, .navbar-white .button:visited {
        background-color: #f27890;
    }
    .menu {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
    }
    .navbar-white .menu-wrapper {
        border-color: transparent;
    }
    .menu > li {
        text-align: center;
        margin: 3px 0;
    }
    .home-section {
        margin-top: -50px;
    }
}


.home-section {
    /*background: url("./img/header.png") no-repeat center;*/
    position: relative;
    height: 625px;
    text-align: center;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

@media (max-width: 400px) {
    .logo {
        width: 80%;
    }
}

.boxes-section {
    margin-top: 20px;
    margin-bottom: 15px;
}

.box-wrapper > h3 {
    margin-top: 20px;
    font-family: "VOGUE Normal";
    font-size: 24px;
}

.box-wrapper > h5 {
    margin-top: 20px;
    font-family: "VOGUE Normal";
    font-size: 16px;
    line-height: 22px;
}

.box-wrapper > h2 {
    margin-top: 120px;
    font-family:"VOGUE Normal";
    font-size: 26px;
    line-height: 30px;
}

.box-wrapper-first {
    margin-right: 15px;
}

.box-wrapper-second {
    margin: 0 7.5px;
}

.box-wrapper-third {
    margin-left: 15px;
}

.first-box {
    background: url("./img/Layer 9.png") no-repeat center;
    background-size: cover;
    height: 170px;
    width: 100%;
}

.second-box {
    background: url("./img/Layer 10.png") no-repeat center;
    background-size: cover;
    height: 170px;
    width: 100%;
}

.third-box {
    background: url("./img/Layer 8.png") no-repeat center;
    background-size: cover;
    height: 170px;
    width: 100%;
}

.arrow-wrapper {
    height: 20px;
    text-align: center;
    margin: 150px 0 30px 0;
}

@media (max-width: 768px) {
    .box-wrapper-first {
        margin-right: 0;
        margin-top: 20px;
    }

    .box-wrapper-second {
        margin: 0;
        margin-top: 20px;
    }
}

.about-section {
    height: 1100px;
    background: url("./img/about-section.png") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.logo-about {
    margin-top: 100px;
    margin-bottom: 30px;
}
.about-section > .logo-desktop {
    display: inline-block;
}
.about-section > .logo-mobile {
    display: none;
}

.about-section > p {
    font-family: "VOGUE Normal";
    font-size: 16px;
    line-height: 22px;
    margin: 20px 20%;
}

@media (max-width: 768px) {
    .about-section {
        height: 900px;
        background: url("./img/Layer 11-mobile.png") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .about-section > .logo-desktop {
        display: none;
    }
    .about-section > .logo-mobile {
        display: inline-block;
    }
    .about-section > p {
        margin: 40px 20%;
    }
}

.img-section {
    text-align: center;
}

.img-section > .img-box {
    background: url("./img/Layer 15.png") no-repeat center;
    background-size: contain;
    height: 550px;
}

.about-eggs-section {
    background: url("./img/layer.png") no-repeat center;
    background-size: cover;
    height: 1600px;
}

.about-eggs-wrapper {
    margin-top: 40px;
}

.about-eggs-box-wrapper {
    padding-right: 25px;
}

.small-box-wrapper {
    margin: 60px 0 0 0;
    text-align: center;
}

.yellow {
    font-family: "VOGUE Bold";
    font-size: 35px;
    color: #feab29;
}

.pink {
    font-family: "VOGUE Bold";
    font-size: 35px;
    color: #efba98;
}

.brown {
    font-family: "VOGUE Bold";
    font-size: 35px;
    color: #ae997e;
}

.box-wrapper-bottom {
    margin-top: 320px;
    margin-left: 60px;
    display: inline-block;
}

.show-on-mobile {
    display: none;
}

@media (max-width: 992px) {
    .box-wrapper-bottom {
        margin-top: 120px;
        margin-left: 0;
    }
    .about-eggs-box-wrapper {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .about-eggs-section {
        background: url("./img/eggs-box.png") no-repeat center;
        background-size: cover;
        height: 1600px;
    }
    .small-box-wrapper {
        margin-top: 30px;
    }
    .box-wrapper-bottom {
        margin-top: -320px;
        margin-left: 15px;
        padding: 0 20%;
    }
    .hide-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: inline-block;
        width: 350px;
        height: 350px;
        background-color: #feab29;
        border-radius: 50%;
        margin-top: 284px;
        margin-left: 50px;
        text-align: left;
        position: relative;
    }
    .show-on-mobile > p {
        font-family: "VOGUE Normal";
        font-size: 24px;
        max-width: 250px;
        position: absolute;
        top: 88px;
        left: 50px;
    }
}

@media (max-width: 600px) {
    .yellow,  .pink, .brown{
        font-size: 25px;
    }
    .box-wrapper-bottom {
        padding: 0 15%;
    }
    .show-on-mobile {
        width: 300px;
        height: 300px;
        margin-top: 360px;
        margin-left: 50px;
    }
    .show-on-mobile > p {
        font-size: 20px;
        left: 40px;
    }
}

@media (max-width: 425px) {
    .box-wrapper-bottom {
        margin-top: -320px;
        padding: 0 15%;
    }
    .show-on-mobile {
        margin-left: -30px;
    }
}

@media (max-width: 350px) {
    .box-wrapper-bottom {
        padding: 0 15%;
    }
    .show-on-mobile {
        margin-top: 330px;
        margin-left: -60px;
    }
}

.eggs-links {
    padding-top: 620px;
    width: 50%;
    margin-left: 230px;
}

.eggs-link-wrapper {
    height: 100px;
    display: inline-block;
    position: relative;
    z-index: 9999;
}

@media (max-width: 1200px) {
    .eggs-links {
        padding-top: 560px;
        width: 55%;
        margin-left: 145px;
    }
}

@media (max-width: 991px) {
    .eggs-links {
        padding-top: 480px;
        width: 70%;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .eggs-links {
        padding-top: 545px;
        width: 65%;
        margin-left: 120px;
    }
}

@media (max-width: 600px) {
    .eggs-links {
        padding-top: 575px;
        width: 78%;
        margin-left: 60px;
    }
}

@media (max-width: 500px) {
    .eggs-links {
        padding-top: 540px;
        width: 100%;
        margin-left: 0;
    }
}


@media (max-width: 425px) {
    .eggs-links {
        padding-top: 500px;
        width: 100%;
        margin-left: 0;
    }
}

.contact-section {
    height: 1000px;
    background: url("./img/egg.png") no-repeat center;
    background-color: #94b8d8;
}

.text-box {
    text-align: center;
}

.text-big {
    font-family: "VOGUE Normal";
    font-size: 24px;
    padding-top: 390px;
    margin-bottom: 10px;

}

.text-small {
    font-family: "VOGUE Normal";
    font-size: 16px;
    margin-top: 5px;
}

.text-small > a {
    text-decoration: none;
    color: #000;
}

.social-box {
    padding-top: 220px;
    text-align: center;
}

.social-box > p {
    font-family: "VOGUE Normal";
    font-size: 24px;
    color: #fff;
}

.social-box > p a:hover {
    text-decoration: none;
}

.social-box > p .icon {
    background-color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 12px;
}

.social-box > p a:first-child .icon {
    margin-left: 24px;
}

.social-box > p .icon i {
    color: #94b8d8
}

@media (max-width: 768px) {
    .social-box > p .actions {
        display: block;
        margin-top: 36px;
    }
}

.footer-list {
    list-style-type: none;
    text-align: right;
}

.footer-list > li {
    display: inline-block;
    font-family: "VOGUE Normal";
    font-size: 12px;
    margin: 20px 5px;
}

.footer-list > li > a {
    text-decoration: none;
    color: #000;
}

.footer-text {
    font-family: "VOGUE Normal";
    font-size: 12px;
    margin: 20px 5px;
}

@media (max-width: 768px) {
    footer {
        background-color:  #94b8d8;
        padding-top: 200px;
    }
    .footer-text {
        font-size: 16px;
        color: #fff;
    }
}

/* SLIDER */

.slides {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slides .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}
.slides .slide.showing {
    opacity: 1;
    z-index: 2;
}
.slides .slide-1 {
    background: url(./img/slides/1_1.jpg) no-repeat center;
}
.slides .slide-2 {
    background: url(./img/slides/1_2.jpg) no-repeat center;
}
.slides .slide-3 {
    background: url(./img/slides/1_3.jpg) no-repeat center;
}
.slides .slide-4 {
    background: url(./img/slides/1_4.jpg) no-repeat center;
}
.slides .slide-5 {
    background: url(./img/slides/1_5.jpg) no-repeat center;
}